body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content {
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.output-box {
    border: 1px solid #ccc;
    padding: 10px;
    width: 300px; /* 可根据需要调整宽度 */
    margin-top: 20px; /* 调整上外边距，增加预测结果框与其他元素的距离 */
}